---	
---	

@import "{{ site.theme }}";	

.wrapper {	
  width: 1060px;	
}	

section {	
  width: 700px;	
}

.gist-data {
  height: 350px; 
}

img#logo {
  border-radius: 50%; 
}

@media print, screen and (max-width: 1200px){
  section {
      border: 1px solid #e5e5e5;
      border-width: 1px 0;
      padding: 20px 0;
      margin: 0 0 20px;
  }

  header, section, footer {
      float: none;
      position: static;
      width: auto;
  }
  
  .wrapper {
    width: 860px;
    margin: 0 auto;
  }
}
