---	
---	

@import "{{ site.theme }}";	

.wrapper {	
  width: 1060px;	
}	

section {	
  width: 700px;	
}

.gist-data {
  height: 350px; 
}

@media print, screen and (max-width: 960px)
section {
  width: auto; 
}
